<h1>Tasks</h1>

<% @tasks.each do |task| %>
  <h3><%= task.title %></h3>
  <p><%= task.description %></p>
  <p>Due Date: <%= task.completed_at %></p>
  <br>
  <%= link_to 'Edit', edit_task_path(task) %>
  <%= form_with model: task, method: :delete, data: { confirm: 'Are you sure you want to delete this task?' } do |f| %>
    <%= f.submit 'Delete' %>
  <% end %>
  <hr>
<% end %>

<%= link_to 'New Task', new_task_path %>