<h1>Tasks</h1>

<% @tasks.each do |task| %>
  <div class="task">
    <% if task.user.avatar.attached? %>
      <%= image_tag task.user.avatar, size: "50x50" %>
    <% else %>
      <%= image_tag "no_avatar.png", width: "50", height: "50" %>
    <% end %>
    <div class="task-content">
      <h3><%= task.title %></h3>
      <p><%= task.description %></p>
      <p>Due Date: <%= task.completed_at %></p>
      <br>
      <%= link_to 'Edit', edit_task_path(task) %>
      <%= form_with model: task, method: :delete, data: { confirm: 'Are you sure you want to delete this task?' } do |f| %>
        <%= f.submit 'Delete' %>
      <% end %>
    </div>
  </div>
<% end %>

<%= link_to 'New Task', new_task_path %>
<hr>
<%= link_to 'Go to Home', root_path %>