<h1><%= @post.title %></h1>
<% if @post.image.attached? %>
  <% if @post.content.present? %>
    <p><%= @post.content %></p>
  <% end %>
  <%= image_tag @post.image.variant(resize_to_limit: [300, 300]) %>
<% else %>
  <% if @post.images.any? %>
    <% @post.images.each do |image| %>
      <%= image_tag image.variant(resize_to_limit: [300, 300]) %>
    <% end %>
  <% else %>
    <p>No image available</p>
  <% end %>
<% end %>
<br>
<% if user_signed_in? %>
  <% if @post.likes.exists?(user_id: current_user.id) %>
    <%= link_to 'Unlike', unlike_post_path(@post), method: :delete, class: 'like-unlike-button', data: { liked: true } %>
  <% else %>
    <%= link_to 'Like', like_post_path(@post), method: :post, class: 'like-unlike-button', data: { liked: false } %>
  <% end %>
<% end %>
<p><%= @post.likes_count %> likes</p>

<h2>Comments</h2>
<% @comments.each do |comment| %>
  <div class="comment">
    <% if comment.user.avatar.attached? && comment.user.avatar.persisted? %>
      <%= image_tag comment.user.avatar, size: "50x50" %>
    <% else %>
      <%= image_tag "no_avatar.png", width: "50", height: "50" %>
    <% end %>
    <div class="comment-content">
      <strong><%= comment.user.username %>:</strong>
      <p><%= comment.content %></p>
    </div>
  </div>
<% end %>

<h2>Add a Comment</h2>
<%= form_for([@post, @post.comments.build]) do |f| %>
  <%= f.text_area :content, placeholder: 'Write a comment...' %>
  <br>
  <%= f.submit 'Post Comment' %>
<% end %>

<hr>
<%= link_to 'Go to Home', root_path %>