<h1><%= @post.title %></h1>
    <% if @post.image.attached? %>
        <p><%= @post.content %></p>
        <%= image_tag @post.image.variant(resize_to_limit: [300, 300]) %>
    <% else %>
        <p>No image available</p>
    <% end %>
   
<h2>Comments</h2>
    <% @comments.each do |comment| %>
        <strong><%= comment.user.username %>:</strong>
        <p><%= comment.content %></p>
    <% end %>

<h2>Add a Comment</h2>
    <%= form_for([@post, @post.comments.build]) do |f| %>
      <%= f.text_area :content, placeholder: 'Write a comment...' %>
      <%= f.submit 'Post Comment' %>
    <% end %>    